
.askQuestion {
    margin: 2px;
    padding: 2px 20px 2px 2px;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 33%;
  }
  
  .askQuestion input[type="text"],
  .askQuestion textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .askQuestion textarea {
    height: 50px;
  }
  
  .askQuestion button {
    background-color: grey;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .askQuestion button:hover {
    background-color: #007bff;
  }
  